.add-rocket {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}

h2 {
    color: #034488;
    font-size: 30px;
}

.form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form-group {
    margin: 25px;
}

.form-header {
    margin-bottom: 10px;
    color: #034488;
}

.form-control-abt, .form-control {
    font-family: 'Poppins','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 250px;
    overflow: auto;
}

.form-control-abt {
    height: 100px;
}

button {
    border-radius: 10px;
    margin: 5px;
    background-color: #034488;
    color: #edece8;
    font-weight: bold;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 290px) {
    .form-control {
        max-width: 80%;
    }

    .form-control-abt {
        max-width: 80%;
    }
}